{{>header}}
  <!-- main header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- main header left -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure><img src="images/house.jpg" alt="" class="img-fluid"></figure>
                    </div>
                    <!-- main header right -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I Am A<span class="text_clr"> Nodejs Developer </span>And A Youtuber.</h1>
                        <a href="/about"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer code -->
    {{>footer}}
